.content-map {
  border: 1px solid #6666;
  padding: 20px 30px;
  span {
    display: block;
  }
}
.google-map{
  height: 500px;
  width: 100%;
  margin-top: 20px;
}

.marker{
  background: url('https://www.clker.com/cliparts/u/B/T/c/r/u/google-maps-marker-for-residencelamontagne.svg.med.png');
  background-size: cover;
  width: 35px;
  height: 57px;

}